<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	
	<!-- 필요한 객체를 빈으로 등록 -->
	<bean class="springEx02.ex02.Boy" id="boy"/>
	<bean class="springEx02.ex02.Girl" id="girl"/>
	
	<!-- 공통관심사항으로 쓸 아이도 빈으로 등록 -->
	<bean class="springEx02.ex02.MyAspect" id="myAspect"/>
	
	<!-- 타겟에 연결하기 위한 작업 -->
	<aop:config>
		<aop:aspect ref="myAspect">
			<!-- 핵심 기능의 어떤부분에 붙일것인지 설정 -->
			<aop:pointcut expression="execution(public String *.doSomething())" id="myPt"/>
			
			<!--  전체를 감싸는 -->
			<aop:around method="myAround" pointcut-ref="myPt"/>
		</aop:aspect>
	</aop:config>

</beans>
