<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- springEx02/springContext.xml -->
	<bean id="myPerson" class="springEx03.Person">
		<!-- setter를 이용하여 값을 넣어줌 -->
		<property name="name" value="hello"/>
		<property name="age" value="200"/>
		<property name="phone" ref="phone"/>
		<property name="favoriteFoods">
			<list>
				<value>자장면</value>
				<value>탕수육</value>
				<value>순두부에 열라면</value>
			</list>
		</property>
	</bean>
	
	<!-- 생성자를 이용해서 값을 넣어주자 -->
	<bean id="phone" class="springEx03.Phone">
		<constructor-arg value="samsung"/>
	</bean>

</beans>
